.notes {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: auto;
  margin: 0 auto;
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 30px;
  flex-wrap: wrap;
}
.notes li {
  margin-bottom: 20px;
  margin-left: 8px;
  list-style: none;
  padding: 0px;
  background-color: #ffffff;
  border-radius: 18px;
  text-align: left;
}
button {
  width: 100%;
  border: thin dashed green;
  border-radius: 18px;
  background: none;
  padding: 10px;
  cursor: pointer;
}

.add-new {
  width: 100px;
  border: thin solid rgb(21, 17, 17);
  border-radius: 10px;
  margin-top: 15px;
  background: rgb(162, 229, 150);
  padding: 10px;
  cursor: pointer;
}
